body{
    background-color: aliceblue;;
}
h1{
    color:blueviolet;
    text-align: center;
}
.photo
{
    border-radius:50%;
    width:20%;
    height:20%;

}
.signature p
{
font-size: 20px;
font-weight: bold;
}
hr{
    width:20%;
    border-style: ridge solid dotted dashed;
    align:center;
    border-width:1px;
}
.synopsis h4
{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align:center;
    font-weight: bold;
}
.synopsis
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:blue;
    text-align: justify;
}
.qualities h4{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align:center;
    font-weight: bold;
}
.qualities
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:blue;
    text-align: justify;
}
.expertise h4{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align:center;
    font-weight: bold;
}
.expertise
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:blue;
    text-align: justify;
}
.technical h4{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align:center;
    font-weight: bold;
}
.technical
{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:blue;
    text-align: justify;
}
.academic h4{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:blueviolet;
    text-align:center;
    font-weight: bold;
}
.academic{
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color:blue;
    text-align: justify;
}
